body{
    margin:0;

}
header{
    background-color: #0f5238;
}

header>div>img{
    width:500px;
}
header>div{
    width:fit-content;
    margin:auto;
}
nav{
    background-color: #0f5238;
    padding-bottom:10px ;
}
nav>div{
    display: flex;
    width: fit-content;
    margin: auto;
}
a,h1,h2,h3,p{
    font-family: Arial, Helvetica, sans-serif;
    color: #0f5238;
}
nav>div>div>a{
    color:#c49a48;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

nav>div>div{
    padding: 10px;
    width: 500px;
    text-align: center;
    border-left: 3px solid #c49a48;
    border-right: 3px solid #c49a48;
}

.box{
    background-color: #0f5238;
    width: 50vw;
    height: 100vh;
    
    margin: auto;
}
.container{

    background-color: #ffe4c4;
    overflow: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
label{
    color:#c49a48;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.input1{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #c49a48;
    font-family: Arial, Helvetica, sans-serif;
    color:#c49a48;
    font-size: 20px;
}

textarea{
    background: transparent;
    color:#c49a48;
    font-size: 20px;
    border: 3px solid #c49a48;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}


form{
    height: 100%;
    overflow: auto;
}

form>div{
    /* margin-top: 100px; */
    
    width: fit-content;
    margin: 30px auto 0 auto;

}
.box>h1{
    color:#c49a48;
    text-align: center;
}
button{
    background:#c49a48 ;
    font-size: 20px;
    color:#0f5238;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}